.posts .post .title { font-size: 20pt; font-weight: 300; line-height: 40px; }
.posts .post .body h1 { font-size: 14pt; }
.posts .post .body h2 { font-size: 12pt; }
.posts .post .body h3 { font-size: 11pt; }

h1[id]:hover a.anchorlink:before,
h2[id]:hover a.anchorlink:before,
h3[id]:hover a.anchorlink:before,
h4[id]:hover a.anchorlink:before,
h5[id]:hover a.anchorlink:before,
h6[id]:hover a.anchorlink:before {
  content: "\00B6"; /* pilcrow */
  color: #888;
  font-size: smaller;
}
a.anchorlink {
  text-decoration: none;
  font-size: smaller;
}
h1 { min-height: 48px; }
h2, h3, h4, h5, h6 { min-height: 44px; }
ul.tags {
    margin: 0;
    margin-bottom: 7px;
}
ul.tags a {
  color: #fff;
  text-decoration: none; 
}
ul.tags > li.tag {
  background-color: #007fff;
  border-bottom: 1px solid #555eee;
  border-right: 1px solid #555eee;
  display: inline;
  margin-right: 8px;
  padding: 1px 9px 2px 9px; 
  color: #fff;
}

