article h1 {
  font-size: 1.9em;
}

article h2 {
  font-size: 1.6em;
}

article h3 {
  font-size: 1.4em;
}

footer.navbar {
    margin-top: 0.8em;
    margin-bottom: 0;

    color: #fff;
}

footer.navbar a {
    color: #bbddff;
}

ul.tags {
    margin: 0;
    margin-bottom: 7px;
    padding-left: 0;
}

ul.tags a {
  color: #fff;
  text-decoration: none;
}

ul.tags > li {
  background-color: #008cba;
  border-bottom: 1px solid #006687;
  border-right: 1px solid #006687;
  display: inline;
  margin-right: 8px;
  padding: 1px 9px 2px 9px;
  color: #fff;
}

h1[id]:hover a.anchorlink:before,
h2[id]:hover a.anchorlink:before,
h3[id]:hover a.anchorlink:before,
h4[id]:hover a.anchorlink:before,
h5[id]:hover a.anchorlink:before,
h6[id]:hover a.anchorlink:before {
  content: "\00B6"; /* pilcrow */
  color: #888;
  font-size: smaller;
}
a.anchorlink {
  text-decoration: none;
  font-size: smaller;
}

