use ruby 2.6.6
layout ruby

# This has to come after 'layout ruby', which means it can't be in
# ~/.direnvrc
BUNDLER_VERSION=2.2.32
if [ -f Gemfile ]; then
    gem list -i '^bundler$' -v "$BUNDLER_VERSION" >/dev/null || \
        gem install --no-document bundler -v "$BUNDLER_VERSION" && \
        bundle check
fi
