<div class="details">
    <span class="created_at timeago" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ page.date }}">{{ page.date | date: "%-d %b %Y %H:%M" }}</span>

    <span class="tags">
    {% for tag in page.tags %}
    <a href="/tag/{{tag}}"><span class="badge bg-primary">{{ tag }}</span></a>
    {% endfor %}
    </span>

    <span class="icons">
        <a href="{{ site.discussions_link }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Discuss this post">{% octicon comment-discussion height:16 %}</a>
        <a href="{{ site.issues_link }}?title={{ page.title | url_encode }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Report a problem with this post">{% octicon bug height:16 %}</a>
    </span>
</div>
