<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">

    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <link href="/css/rougify-style-github.css" rel="stylesheet">
    <link href="/css/theme.css" rel="stylesheet">

    {% if page.title %}
        <title>{{ page.title | xml_escape }} | {{ site.title | xml_escape }}</title>
    {% else %}
        <title>{{ site.title | xml_escape }}</title>
    {% endif %}

    <meta property="og:title"
        content="{% if page.title %}{{ page.title | xml_escape }}{% else %}{{ site.title | xml_escape }}{% endif %}" />
    <meta property="og:description"
        content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.title | xml_escape }}{% endif %}" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title"
        content="{% if page.title %}{{ page.title | xml_escape }}{% else %}{{ site.title | xml_escape }}{% endif %}" />
    <meta name="twitter:description"
        content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.title | xml_escape }}{% endif %}" />
    <meta name="twitter:site" content="{{ site.twitter_username }}" />

    <link rel="icon" type="image/png" href="/assets/profile-30px.png">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    {% feed_meta %}
</head>
