<ul>
    {% for post in site.posts reversed %}
        {% if post.series == page.series %}
            {% if post.url == page.url %}
                <li class="active">
                    <a href="{{ post.url }}">{{ post.title }}</a>
                        (this post; <span class="timeago" title="{{ post.date }}">{{ post.date }}</span>)
                </li>
            {% else %}
                <li>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                        (<span class="timeago" title="{{ post.date }}">{{ post.date }}</span>)
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>
