<!DOCTYPE html>
<html>
{% include _head.html %}

<body>

    {% include _navbar.html %}

    <div class="container">
        {{ content }}
    </div>

    {% include _scripts.html %}

    <!-- TODO: This adds the pilcrow marks; it doesn't want to be on the default page.
    But it can't really go anywhere else, so we should look at scoping it with a class.
    We get away with it because the only non-post page is the 404, and it has no headings on it. -->

    <script type="text/javascript">
        $(document).ready(function() {
            $('div.body > h1, h2, h3, h4, h5, h6').each(function(i) {
                $(this).append(
                    '<a class="anchorlink" title="Link to ' +
                    $(this).text() + '" href="#' + $(this).attr('id') + '"></a>');
            });
        });
    </script>
</body>

</html>
