<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">    
      <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/css/cosmo/bootstrap.min.css" media="screen" />
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="/css/cosmo-custom.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
  </head>
  <body>
<div id="navbar-top" class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a href="/" class="brand">Roger's Blog</a>
    </div>
  </div>
</div>
    <div class="container">
      {{ content }}
    </div>

    <script src="/js/jquery-1.10.2.js"></script>
    <script src="/js/bootstrap.min.js"></script>

<script>
  $(document).ready(function() {
    // Add the anchor links
    $('div.post > h1, h2, h3, h4, h5, h6').each(function(i) {
      $(this).append(
      '<a class="anchorlink" title="Link to ' + $(this).text() + '" href="#' + $(this).attr('id') + '"></a>');
      });
      });
    </script>

  </body>
</html>
