<!doctype html>
<html lang="en">

{% include _head.html %}

<body>
    {% include _navbar.html %}

    <div class="container-xxl my-md-4">
        <div class="row">
            <div class="col-md-9 post-list">
                {% for post in site.posts %}
                <article class="excerpt">
                    <h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title | xml_escape }}</a></h1>

                    <div class="details">
                        <span class="created_at timeago" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="{{ post.date }}">{{ post.date | date: "%-d %b %Y %H:%M" }}</span>

                        <span class="tags">
                            {% for tag in post.tags %}
                                {% for tag_template in site.tags %}
                                    {% if tag == tag_template.name %}
                                        <a href="{{tag_template.url}}"><span class="badge bg-primary">{{ tag }}</span></a>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </span>

                        {% if post.series %}
                        <span class="series">
                            <a href="/series/{{post.series}}"><span class="badge bg-dark">{{ post.series }}</span></a>
                        </span>
                        {% endif %}
                    </div>

                    <div class="excerpt">
                        {{ post.excerpt }}
                    </div>

                    <a href="{{ post.url | prepend: site.baseurl }}">&raquo; read more</a>
                </article>
                {% endfor %}
            </div>

            <div class="col-md-3 sidebar">
                <img class="rounded-circle" src="/assets/profile-200px.png" alt="Roger Lipscombe">

                <p>My name is <a href="http://rogerlipscombe.me">Roger Lipscombe</a>.
                </p>
                <p>Senior Software Engineer at <a href="https://happening.xyz">Happening</a>, the tech powering
                    Superbet.
                </p>
                <p>I blog about programming and other technology and gadget stuff.
                </p>

                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a rel="me" href="https://hachyderm.io/@rogerlipscombe" data-bs-toggle="tooltip"
                            data-bs-placement="top" title="Mastodon"><i class="bi bi-mastodon"></i></a>
                    </li>

                    <li class="list-inline-item">
                        <a href="https://twitter.com/{{ site.twitter_username }}" data-bs-toggle="tooltip"
                            data-bs-placement="top" title="Twitter"><i class="bi bi-twitter"></i></a>
                    </li>

                    <li class="list-inline-item">
                        <a href="https://stackoverflow.com/users/8446/roger-lipscombe" data-bs-toggle="tooltip"
                            data-bs-placement="top" title="Stack Overflow"><i class="bi bi-stack-overflow"></i></a>
                    </li>

                    <li class="list-inline-item">
                        <a href="https://github.com/rlipscombe" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="GitHub"><i class="bi bi-github"></i></a>
                    </li>

                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/rlipscombe/" data-bs-toggle="tooltip"
                            data-bs-placement="top" title="LinkedIn"><i class="bi bi-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.0/jquery.timeago.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $.timeago.settings.allowFuture = true;
            $('.timeago').timeago();

            $('[data-bs-toggle="tooltip"]').tooltip();
        });
    </script>
</body>

</html>
