<!doctype html>
<html lang="en">

{% include _head.html %}

<body>
    {% include _navbar.html %}

    <div class="container-xxl my-md-4">
        <div class="row">
            <div class="col-md-9">
                <article class="post">
                    <h1>{{ page.title | xml_escape }}</h1>
                    {% include _details.html %}
                    <div class="body">
                        {{ content }}
                    </div>
                </article>
            </div>

            <div class="col-md-3 sidebar">
                <ul class="nav flex-column series">
                    {% for post in site.posts reversed %}
                        {% if post.series == page.series %}
                            {% if post.url == page.url %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                            <a href="{{ post.url }}">
                                {% if post.short_title %}
                                    {{ post.short_title | xml_escape }}
                                {% else %}
                                    {{ post.title | xml_escape }}
                                {% endif %}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    {% include _scripts.html %}
    {% include _anchorlinks.html %}
</body>

</html>
