---
layout: default
---

<div class="col-md-9 post-list">
    {% assign posts = site.posts | where: "series", page.series %}
    {% assign count = posts | size %}
    <div class="series-header">
        <h1 class="series-title">Posts in &lsquo;{{ page.series | xml_escape }}&rsquo; series</h1>
        {% if count == 1 %}
            <span>{{ count }} post</span>
        {% else %}
            <span>{{ count }} posts; oldest first</span>
        {% endif %}
        </div>

        {% for post in posts reversed %}
        <article class="excerpt">
            <h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title | xml_escape }}</a></h1>

            <div class="details">
                <span class="created_at timeago" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="{{ post.date }}">{{ post.date | date: "%-d %b %Y %H:%M" }}</span>

                <span class="tags">
                    {% for tag in post.tags %}
                    <a href="/tag/{{tag}}"><span class="badge bg-primary">{{ tag }}</span></a>
                    {% endfor %}
                </span>

                {% if post.series %}
                <span class="series">
                    <a href="/series/{{post.series}}"><span class="badge bg-dark">{{ post.series }}</span></a>
                </span>
                {% endif %}
            </div>

            <div class="excerpt">
                {{ post.excerpt }}
            </div>

            <a href="{{ post.url | prepend: site.baseurl }}">&raquo; read more</a>
        </article>
        {% endfor %}
    </div>

    {% include _scripts.html %}
</body>

</html>
