<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">

    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <link href="/css/rougify-style-github.css" rel="stylesheet">
    <link href="/css/theme.css" rel="stylesheet">

    <title>{{ site.title }}</title>

    <link rel="icon" type="image/png" href="/assets/profile-30px.png">
</head>

<body>
    {% include _navbar.html %}

    <div class="container-xxl my-md-4">
        <h1>Tags</h1>

        <ul class="nav flex-column">
        {% assign sorted_tags = site.tags | sort %}
        {% for it in sorted_tags %}
            {% assign tag = it[0] %}
            {% assign count = it[1] | size %}
            <li><a href="/tag/{{tag}}"><span class="badge bg-primary">{{ tag }}</span></a> ({{ count }} {% if count == 1 %}post{% else %}posts{% endif %})</li>
        {% endfor %}
        </ul>
    </div>

    {% include _scripts.html %}
</body>

</html>
